<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="idamUser">
            <h2><span>IDAM User</span> {{idamUser.firstName}} {{idamUser.lastName}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Unique ID</span></dt>
                <dd>
                    <span>{{idamUser.uid}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{idamUser.email}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{idamUser.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{idamUser.lastName}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{idamUser.status}}</span>
                </dd>
                <dt><span>Roles</span></dt>
                <dd>
                    <span *ngFor="let roles of idamUser.roles; let last = last">
                        {{roles.roleName}} {{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/idam-user', idamUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
